<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    <p th:text="${bookingForm.type_fight}"></p>-->
<!--    <p th:text="${bookingForm.orig_place}"></p>-->
<!--    <p th:text="${bookingForm.des_place}"></p>-->
<!--    <p th:text="${bookingForm.orig_date}"></p>-->
<!--    <p th:text="${bookingForm.des_date}"></p>-->
<!--    <p th:text="${bookingForm.adult_number}"></p>-->
<!--    <p th:text="${bookingForm.child_number}"></p>-->
<!--    <p th:text="${bookingForm.baby_number}"></p>-->
<p th:text="${text}"></p>
<!--<p th:text="${person.name}"></p>-->

</body>
</html>